<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
</head>
<body>
	<!-- FRAGMENT :: characters-list -->
	<div
		th:fragment="characters-list"
		id="characters-list"
		style="display: flex; flex-direction: column; width: 350px;">

		<!-- 		<button -->
		<!-- 			hx-ext="loading-states" -->
		<!-- 			data-loading-aria-busy -->
		<!-- 			hx-trigger="click" -->
		<!-- 			hx-post="/characters/reload-characters-list" -->
		<!-- 			hx-include="#dropdown-menu-select" -->
		<!-- 			hx-target="#characters-list" -->
		<!-- 			hx-swap="outerHTML">Reload characters</button> -->
		<!-- reloading the full page to reset league & items sections -->
		<form
			hx-boost="true"
			hx-ext="loading-states"
			data-loading-aria-busy
			data-loading-target="#reload-characters"
			action="#"
			th:action="@{/characters}"
			th:method="POST">
			<button id="reload-characters">Reload characters</button>
		</form>

		<div
			th:each="character: ${characters}"
			style="padding: 10px; display: flex; flex-direction: row; gap: 10px; align-items: center;">

			<div th:class="|character-class-icon-${character.characterClass}|"></div>

			<div style="display: flex; flex-direction: column;">
				<a
					th:text="${character.name}"
					hx-trigger="click"
					th:attr="hx-get=|/characters/${character.name}/get-inventory|"
					hx-target="#character-inventory"
					hx-swap="outerHTML"></a>
				<label th:text="|Level ${character.level} ${character.characterClass}|"></label>
				<label th:text="|${character.leagueId} League|"></label>
			</div>
		</div>
	</div>
	
	<!-- FRAGMENT :: characters-table -->
	<th:block th:fragment="characters-table">
		<div th:if="${#lists.isEmpty(characters)}">No character found.</div>
		<table
			th:if="${not #lists.isEmpty(characters)}"
			role="grid">
			<thead>
				<tr>
					<th scope="col">name</th>
					<th scope="col">accountName</th>
					<th scope="col">leagueId</th>
					<th scope="col">characterClass</th>
					<th scope="col">level</th>
					<th scope="col">experience</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="character: ${characters}">
					<td>
						<a
							th:text="${character.name}"
							th:href="|/characters/${character.name}|"></a>
					</td>
					<td th:text="${character.accountName}"></td>
					<td th:text="${character.leagueId}"></td>
					<td th:text="${character.characterClass}"></td>
					<td th:text="${character.level}"></td>
					<td th:text="${character.experience}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<!-- FRAGMENT :: character-inventory -->
	<div
		th:fragment="character-inventory"
		id="character-inventory"
		style="width: 100%;">

		<th:block th:if="${characterName != null}">
			<button
				th:text="|Reload ${characterName} items|"
				hx-ext="loading-states"
				data-loading-aria-busy
				hx-trigger="click"
				th:attr="hx-post=|/characters/${characterName}/reload-inventory|"
				hx-target="#character-inventory"
				hx-swap="outerHTML"></button>

			<div style="position: relative;">
				<div
					th:each="item: ${items}"
					th:if="${item.inventoryId != null}"
					th:class="${item.inventoryId == 'Flask' ? 'character-inventory-slot-' + item.inventoryId + item.x : 'character-inventory-slot-' + item.inventoryId}"
					th:classappend="|character-inventory-slot-width-${item.w} character-inventory-slot-height-${item.h}|">
					<img
						alt="icon"
						th:src="${item.icon}"
						th:title="${item.name} + ' ' + ${item.baseType}">
				</div>
			</div>
		</th:block>
	</div>

</body>
</html>