<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<th:block th:fragment="character-list">
		<div th:if="${#lists.isEmpty(characters)}">No character found.</div>
		<table
			th:if="${not #lists.isEmpty(characters)}"
			role="grid">
			<thead>
				<tr>
					<th scope="col">name</th>
					<th scope="col">accountName</th>
					<th scope="col">leagueId</th>
					<th scope="col">characterClass</th>
					<th scope="col">level</th>
					<th scope="col">experience</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="character: ${characters}">
					<td>
						<a
							th:text="${character.name}"
							th:href="|/characters/${character.name}|"></a>
					</td>
					<td th:text="${character.accountName}"></td>
					<td th:text="${character.leagueId}"></td>
					<td th:text="${character.characterClass}"></td>
					<td th:text="${character.level}"></td>
					<td th:text="${character.experience}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>
</body>
</html>

