<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
</head>
<body>
	<!-- FRAGMENT :: leagues-list -->
	<div
		th:fragment="leagues-table"
		id="leagues-table">
		<div th:if="${#lists.isEmpty(leagues)}">No league found.</div>
		<table
			th:if="${not #lists.isEmpty(leagues)}"
			role="grid">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">realm</th>
					<th scope="col">startAt</th>
					<th scope="col">endAt</th>
					<th scope="col">url</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="league: ${leagues}">
					<td>
						<a
							th:text="${league.id}"
							th:href="|/leagues/${league.id}|"></a>
					</td>
					<td th:text="${league.realm}"></td>
					<td th:text="${league.startAt}"></td>
					<td th:text="${league.endAt}"></td>
					<td>
						<a
							th:href="|${league.url}|"
							th:target="_blank">ladder url</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- FRAGMENT :: select-league-dropdown-menu -->
	<!-- load polling leagues -->
	<div
		th:fragment="select-league-dropdown-menu"
		class="flex-row"
		hx-trigger="load"
		hx-get="/leagues/select-league-dropdown-menu-options"
		hx-target="#select-league-dropdown-menu-select"
		hx-swap="innerHTML">

		<!--  on league selection change, update the target element with the given url response -->
		<select
			id="select-league-dropdown-menu-select"
			name="leagueId"
			hx-trigger="change"
			th:attr="hx-get=|${callUrlOnLeagueChange}| , hx-target=|${targetElementToUpdate}|"
			hx-swap="outerrHTML">
		</select>

		<button
			hx-ext="loading-states"
			data-loading-aria-busy
			hx-trigger="click"
			hx-post="/leagues/select-league-dropdown-menu-options"
			hx-target="#select-league-dropdown-menu-select"
			hx-swap="innerHTML">Reload leagues</button>
	</div>

	<!-- FRAGMENT :: select-league-dropdown-menu-options -->
	<th:block th:fragment="select-league-dropdown-menu-options">
		<option
			value=""
			disabled
			selected>Select league</option>
		<option
			th:if="${not #lists.isEmpty(leagues)}"
			th:each="league: ${leagues}"
			th:value="${league.id}"
			th:text="${league.id}"></option>
	</th:block>
</body>
</html>