<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>

<body>
	<th:block th:fragment="dropdown-menu-options">
		<option
			value=""
			disabled
			selected>Select league</option>
		<option
			th:if="${not #lists.isEmpty(leagues)}"
			th:each="league: ${leagues}"
			th:value="${league.id}"
			th:text="${league.id}"></option>
	</th:block>

	<!-- load polling leagues -->
	<div
		th:fragment="dropdown-menu"
		class="flex-row"
		hx-trigger="load"
		hx-get="/leagues/dropdown-menu-options"
		hx-target="#dropdown-menu-select"
		hx-swap="innerHTML">

		<!--  on league selection change, update the target element with the given url response -->
		<select
			id="dropdown-menu-select"
			name="leagueId"
			hx-trigger="change"
			th:attr="hx-get=|${callUrlOnLeagueChange}| , hx-target=|${targetElementToUpdate}|"
			hx-swap="innerHTML">
		</select>

		<button
			hx-ext="loading-states"
			data-loading-aria-busy
			hx-trigger="click"
			hx-post="/leagues/dropdown-menu-options"
			hx-target="#dropdown-menu-select"
			hx-swap="innerHTML">Reload leagues from GGG (HTMX)</button>
	</div>
</body>
</html>

