<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
</head>
<body>
	<!-- FRAGMENT :: characters-table -->
	<th:block
		th:fragment="characters-table"
		id="characters-table">
		<div th:if="${#lists.isEmpty(characters)}">No character found.</div>
		<table
			th:if="${not #lists.isEmpty(characters)}"
			role="grid">
			<thead>
				<tr>
					<th scope="col">name</th>
					<th scope="col">accountName</th>
					<th scope="col">leagueId</th>
					<th scope="col">characterClass</th>
					<th scope="col">level</th>
					<th scope="col">experience</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="character: ${characters}">
					<td>
						<a
							th:text="${character.name}"
							th:href="|/characters/${character.name}|"></a>
					</td>
					<td th:text="${character.accountName}"></td>
					<td th:text="${character.leagueId}"></td>
					<td th:text="${character.characterClass}"></td>
					<td th:text="${character.level}"></td>
					<td th:text="${character.experience}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<!-- FRAGMENT :: characters-list -->
	<div
		th:fragment="characters-list"
		id="characters-list"
		style="display: flex; flex-direction: column; min-width: 350px;">

		<!-- reloading the full page to reset league & items sections -->
		<form
			hx-boost="true"
			hx-ext="loading-states"
			data-loading-aria-busy
			data-loading-target="#reload-characters-button"
			action="#"
			th:action="@{/characters}"
			th:method="POST">
			<button id="reload-characters-button">Reload characters</button>
		</form>

		<ul>
			<li
				th:each="character: ${characters}"
				class="flex-row clickable"
				style="padding: 10px; align-items: center; border: 1px solid black"
				hx-trigger="click"
				th:attr="hx-get=|/characters/${character.name}/get-inventory|"
				hx-target="#character-inventory"
				hx-swap="outerHTML">
				<div th:class="|character-class-icon-${character.characterClass}|"></div>
				<div style="display: flex; flex-direction: column;">
					<label
						class="primary-color"
						th:text="${character.name}"></label>
					<label th:text="|Level ${character.level} ${character.characterClass}|"></label>
					<label th:text="|${character.leagueId} League|"></label>
				</div>
			</li>
		</ul>
	</div>

	<!-- FRAGMENT :: character-inventory -->
	<div
		th:fragment="character-inventory"
		id="character-inventory"
		style="width: 100%;">

		<th:block th:if="${characterName != null}">
			<button
				hx-ext="loading-states"
				data-loading-aria-busy
				hx-trigger="click"
				th:attr="hx-post=|/characters/${characterName}/reload-inventory|"
				hx-target="#character-inventory"
				hx-swap="outerHTML">Reload inventory</button>

			<div class="character-inventory-grid">
				<div
					th:each="item: ${items}"
					th:if="${item.inventoryId != null}"
					th:class="${item.inventoryId == 'Flask' ? 'character-inventory-' + item.inventoryId + item.x : 'character-inventory-' + item.inventoryId}"
					th:classappend="|item-background-${item.frameType}|">
					<img
						alt="icon"
						th:src="${item.icon}"
						th:title="${item.name} + ' ' + ${item.baseType}">
				</div>
			</div>
		</th:block>
	</div>

</body>
</html>