/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  
  --character-icon-size: 80px;
  
  --poe-color-normal: rgb(200,200,200);
  --poe-color-magic: rgb(136,136,255);
  --poe-color-rare: rgb(255,255,119);
  --poe-color-unique: rgb(175,96,37);
  
  --poe-ninja-color-normal: #C7C7C720;
  --poe-ninja-color-magic: #8A8AFF20;
  --poe-ninja-color-rare: #FFFF7520;
  --poe-ninja-color-unique: #B1622520;
}

/** HTMX **/
[data-loading] {
  display: none;
}
/** **/
a {
	cursor: pointer;
}

ol, ul, li {
	margin: 0;
	padding: 0;
}

.clickable,
.clickable * {
	display: block;
	cursor: pointer;
}
.clickable:hover {
	filter: brightness(1.2);
}

.primary-color {
	color: var(--primary);
}

.error-color {
	color: #CF6679;
}

.grid-columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
	gap: 10px;
}

.path-of-exile-logo {
	background-image: url('/image/Path-of-Exile-Logo-700x394.png');
	background-position: center;
/* 	background-size: cover; */
}

.font-larger {
	font-size: larger;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.grid-align-center {
	display: grid;
	justify-content: center;
	align-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.space-between {
	justify-content: space-between;
}

.align-baseline {
	align-items: baseline;
}

.align-center {
	text-align: center;
}

.selected-background-color {
	background-color: var(--primary-focus);
}

/* ************************************************************************* */
/* profile */
/* ************************************************************************* */
.profile-container {
	display: grid;
	gap: 10px;
	grid-template:
		" reload-characters-list-button select-league-dropdown-menu select-league-dropdown-menu "
		" characters-list               character-inventory-2d         character-inventory-2d         "
		/ 300px 1fr 1fr;
	;
}
.reload-stash-tabs-list-button {
	grid-area: reload-stash-tabs-list-button;
}
.characters-list {
	grid-area: characters-list;
	height: 100vh;
	overflow-y: auto;
}
.character-inventory-2d {
	grid-area: character-inventory-2d;
}

.character-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	border: 1px solid black;
	padding: 5px;
}

/** 'character-header-' + character.characterClass */
/* 	background: url('https://web.poecdn.com/protected/image/gen/inventory-sprite.png'); */
.character-header-Elementalist::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -240px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Occultist::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -658px -240px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Ascendant::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -220px -180px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Assassin::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -330px -260px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Chieftain::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: 0px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Inquisitor::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -560px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Guardian::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -400px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Slayer::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
    background-position: -240px -580px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Necromancer::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
   	background-position: -658px -160px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Hierophant::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
   	background-position: -480px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Champion::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
   	background-position: -440px -420px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Pathfinder::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
   	background-position: -658px -320px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Saboteur::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
   	background-position: 0px -580px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-header-Berserker::before {
	display: inline-block;
	content: " ";
	background: url('/image/inventory-sprite.png');
   	background-position: -330px -340px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-inventory-2d-grid {
	display: grid;
	grid-template-rows: repeat(8, 60px);
	grid-template-columns: repeat(8, 60px);
	gap: .5rem;
	grid-template-areas:
		" Weapon Weapon .      Helm       Helm       .      Offhand Offhand "
		" Weapon Weapon .      Helm       Helm       .      Offhand Offhand "
		" Weapon Weapon .      BodyArmour BodyArmour Amulet Offhand Offhand "
		" Weapon Weapon Ring   BodyArmour BodyArmour Ring2  Offhand Offhand "
		" .      Gloves Gloves BodyArmour BodyArmour Boots  Boots   .       "
		" .      Gloves Gloves Belt       Belt       Boots  Boots   .       "
		" .      Flask0 Flask1 Flask2     Flask3     Flask4  .      .       "
		" .      Flask0 Flask1 Flask2     Flask3     Flask4  .      .       "
	;
	justify-content: center;
}

/* -${item.inventoryId} */
/* weapon swap */
.character-inventory-2d-Weapon2,
.character-inventory-2d-Offhand1 {
	visibility: hidden;
}

.character-inventory-2d-Weapon {
	grid-area: Weapon;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Offhand {
	grid-area: Offhand;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Helm {
	grid-area: Helm;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Gloves {
	grid-area: Gloves;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Boots {
	grid-area: Boots;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-BodyArmour {
	grid-area: BodyArmour;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Amulet {
	grid-area: Amulet;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Ring {
	grid-area: Ring;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Ring2 {
	grid-area: Ring2;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Belt {
	grid-area: Belt;
    display: grid;
    justify-items: center;
    align-items: center;
}
/* -${item.inventoryId}-${item.x} */
.character-inventory-2d-Flask0 {
	grid-area: Flask0;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Flask1 {
	grid-area: Flask1;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Flask2 {
	grid-area: Flask2;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Flask3 {
	grid-area: Flask3;
    display: grid;
    justify-items: center;
    align-items: center;
}
.character-inventory-2d-Flask4 {
	grid-area: Flask4;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* -${item.frameType} */
.item-background-0 {
	background-color: var(--poe-ninja-color-normal);
	border-radius: .125rem;
}
.item-background-1 {
	background-color: var(--poe-ninja-color-magic);
	border-radius: .125rem;
}
.item-background-2 {
	background-color: var(--poe-ninja-color-rare);
	border-radius: .125rem;
}
.item-background-3 {
	background-color: var(--poe-ninja-color-unique);
	border-radius: .125rem;
}
/* ************************************************************************* */
/* league */
/* ************************************************************************* */
.select-league-dropdown-menu {
	grid-area: select-league-dropdown-menu;
	display: flex;
	flex-direction: row;
	gap: 10px;
}
/* ************************************************************************* */
/* stash */
/* ************************************************************************* */
.stash-container {
	display: grid;
	gap: 10px;
	grid-template:
		" reload-stash-tabs-list-button select-league-dropdown-menu select-league-dropdown-menu "
		" stash-tabs-list               stash-tab-details           stash-tab-details           "
		/ 300px 1fr 1fr;
	;
}
.reload-stash-tabs-list-button {
	grid-area: reload-stash-tabs-list-button;
}
.stash-tabs-list {
	grid-area: stash-tabs-list;
	height: 100vh;
	overflow-y: auto;
	position: sticky;
	top: 0;
}
.stash-tab-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	color: white;
	border: 1px solid black;
	min-height: 50px;
	padding: 5px;
}
.stash-tab-details {
	grid-area: stash-tab-details;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.stash-tab-details-header {
	display: grid;
	align-items: center;
	justify-content: center;
	color: white;
	min-height: 62px;
	position: sticky;
	top: 0;
	z-index: 999;
}

/* 'stash-tab-header-' + stashTab.type */
.stash-tab-header-NormalStash::before,
.stash-tab-header-PremiumStash::before,
.stash-tab-header-QuadStash::before,
.stash-tab-header-CurrencyStash::before,
.stash-tab-header-MapStash::before,
.stash-tab-header-FragmentStash::before,
.stash-tab-header-DivinationCardStash::before,
.stash-tab-header-EssenceStash::before,
.stash-tab-header-DelveStash::before,
.stash-tab-header-MetamorphStash::before,
.stash-tab-header-BlightStash::before,
.stash-tab-header-DeliriumStash::before,
.stash-tab-header-GemStash::before,
.stash-tab-header-FlaskStash::before  {
	display: inline-block;
	width: 28px;
	height: 28px;
}

.stash-tab-header-NormalStash::before {
    content: "";
}
.stash-tab-header-PremiumStash::before {
/* 	content: url('https://web.poecdn.com/protected/image/layout/stash/premium-tab-icon.png'); */
	content: url('/image/stash/icon/premium-tab-icon.png');
}
.stash-tab-header-QuadStash::before {
	content: url('/image/stash/icon/quad-tab-icon.png');
}
.stash-tab-header-CurrencyStash::before {
	content: url('/image/stash/icon/currency-tab-icon.png');
}
.stash-tab-header-MapStash::before {
	content: url('/image/stash/icon/map-tab-icon.png');
}
.stash-tab-header-FragmentStash::before {
	content: url('/image/stash/icon/fragment-tab-icon.png');
}
.stash-tab-header-DivinationCardStash::before {
	content: url('/image/stash/icon/divination-tab-icon.png');
}
.stash-tab-header-EssenceStash::before {
	content: url('/image/stash/icon/essence-tab-icon.png');
}
.stash-tab-header-DelveStash::before {
	content: url('/image/stash/icon/delve-tab-icon.png');
}
.stash-tab-header-MetamorphStash::before {
	content: url('/image/stash/icon/metamorph-tab-icon.png');
}
.stash-tab-header-BlightStash::before {
	content: url('/image/stash/icon/blight-tab-icon.png');
}
.stash-tab-header-DeliriumStash::before {
	content: url('/image/stash/icon/delirium-tab-icon.png');
}
.stash-tab-header-GemStash::before {
	content: url('/image/stash/icon/gem-tab-icon.png');
}
.stash-tab-header-FlaskStash::before {
	content: url('/image/stash/icon/flask-tab-icon.png');
}

.stash-item-icon {
	max-width: none !important;
}

.stash-tab-2d {
	display: grid;
	justify-content: center;
	align-content: center;
}

.stash-tab-2d-CurrencyStash {
	background-image: url('/image/stash/background/CurrencyStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-MapStash {
	background-image: url('/image/stash/background/MapStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-FragmentStash {
	background-image: url('/image/stash/background/FragmentStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-DivinationCardStash {
	background-image: url('/image/stash/background/DivinationCardStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-EssenceStash {
	background-image: url('/image/stash/background/EssenceStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-DelveStash {
	background-image: url('/image/stash/background/DelveStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-MetamorphStash {
	background-image: url('/image/stash/background/MetamorphStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-BlightStash {
	background-image: url('/image/stash/background/BlightStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-DeliriumStash {
	background-image: url('/image/stash/background/DeliriumStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-GemStash {
	background-image: url('/image/stash/background/GemStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-FlaskStash  {
		background-image: url('/image/stash/background/FlaskStash-background.png');
	width: 570px;
	height: 570px;
}
/* 'stash-tab-2d-' + stashTab.type */
.stash-tab-2d-NormalStash,
.stash-tab-2d-PremiumStash {
	display: grid;
	grid-template-columns: repeat(12, calc(570/12 * 1px));
	grid-template-rows:	repeat(12, calc(570/12 * 1px));
	background-image: url('/image/stash/background/NormalStash-background.png');
	width: 570px;
	height: 570px;
}
.stash-tab-2d-QuadStash {
	display: grid;
	grid-template-columns: repeat(24, calc(570/24 * 1px));
	grid-template-rows:	repeat(24, calc(570/24 * 1px));
	background-image: url('/image/stash/background/QuadStash-background.png');
	width: 570px;
	height: 570px;
}
/* stash tab item.x and item.y are 0-based */
/* CSS Grid positioning is 1-based */
.stash-tab-2d-item {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-column-start: calc(var(--item-x) + 1);
	grid-column-end: span var(--item-w);
	grid-row-start: calc(var(--item-y) + 1);
	grid-row-end: span var(--item-h);
}
.stash-tab-2d-item:hover {
	background-color: rgba(0, 137, 123, 0.2);
}
.stash-tab-2d-item > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ************************************************************************* */