/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  
  --character-icon-size: 80px;
  
  --poe-color-normal: rgb(200,200,200);
  --poe-color-magic: rgb(136,136,255);
  --poe-color-rare: rgb(255,255,119);
  --poe-color-unique: rgb(175,96,37);
  
  --poe-ninja-color-normal: #C7C7C720;
  --poe-ninja-color-magic: #8A8AFF20;
  --poe-ninja-color-rare: #FFFF7520;
  --poe-ninja-color-unique: #B1622520;
}

/** HTMX **/
[data-loading] {
  display: none;
}
/** **/

a {
	cursor: pointer;
/* 	text-overflow: ellipsis; */
}

/* label { */
/* 	text-overflow: ellipsis; */
/* } */

.clickable,
.clickable * {
	display: block;
	cursor: pointer;
}
.clickable:hover {
	filter: brightness(1.2);
}

.primary-color {
	color: var(--primary);
}

.error-color {
	/* Material dark theme color */
	color: #CF6679;
}

.grid-columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
	gap: 10px;
}

.path-of-exile-logo {
	background-image: url('/image/Path-of-Exile-Logo-700x394.png');
	background-position: center;
/* 	background-size: cover; */
}

.font-larger {
	font-size: larger;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.flex-row-space-between {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	gap: 10px;
}

.align-center {
	text-align: center;
}

.selected-background-color {
	background-color: var(--primary-focus);
}

/** 'icon-' + character.characterClass */
/* 	background: url('https://web.poecdn.com/protected/image/gen/inventory-sprite.png?v=1675225309458&key=utM9ksjtnos9jfBiHEVUNA'); */
.character-class-icon-Elementalist {
	background: url('/image/inventory-sprite.png');
    background-position: -240px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Occultist {
	background: url('/image/inventory-sprite.png');
    background-position: -658px -240px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Ascendant {
	background: url('/image/inventory-sprite.png');
    background-position: -220px -180px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Assassin {
	background: url('/image/inventory-sprite.png');
    background-position: -330px -260px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Chieftain {
	background: url('/image/inventory-sprite.png');
    background-position: 0px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Inquisitor {
	background: url('/image/inventory-sprite.png');
    background-position: -560px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Guardian {
	background: url('/image/inventory-sprite.png');
    background-position: -400px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Slayer {
	background: url('/image/inventory-sprite.png');
    background-position: -240px -580px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Necromancer {
	background: url('/image/inventory-sprite.png');
   	background-position: -658px -160px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Hierophant {
	background: url('/image/inventory-sprite.png');
   	background-position: -480px -500px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Champion {
	background: url('/image/inventory-sprite.png');
   	background-position: -440px -420px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Pathfinder {
	background: url('/image/inventory-sprite.png');
   	background-position: -658px -320px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Saboteur {
	background: url('/image/inventory-sprite.png');
   	background-position: 0px -580px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

.character-class-icon-Berserker {
	background: url('/image/inventory-sprite.png');
   	background-position: -330px -340px;
	width: var(--character-icon-size);
    height: var(--character-icon-size);
}

/* ************************************************************************* */
/* profile . character inventory */
/* ************************************************************************* */
.character-inventory-grid {
	display: grid;
	grid-template-rows: repeat(8, 60px);
	grid-template-columns: repeat(8, 60px);
	gap: .5rem;
	grid-template-areas:
		" Weapon Weapon .      Helm       Helm       .      Offhand Offhand "
		" Weapon Weapon .      Helm       Helm       .      Offhand Offhand "
		" Weapon Weapon .      BodyArmour BodyArmour Amulet Offhand Offhand "
		" Weapon Weapon Ring   BodyArmour BodyArmour Ring2  Offhand Offhand "
		" .      Gloves Gloves BodyArmour BodyArmour Boots  Boots   .       "
		" .      Gloves Gloves Belt       Belt       Boots  Boots   .       "
		" .      Flask0 Flask1 Flask2     Flask3     Flask4  .      .       "
		" .      Flask0 Flask1 Flask2     Flask3     Flask4  .      .       "
	;
}

/* -${item.inventoryId} */
.character-inventory-Weapon {
	grid-area: Weapon;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Offhand {
	grid-area: Offhand;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Helm {
	grid-area: Helm;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Gloves {
	grid-area: Gloves;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Boots {
	grid-area: Boots;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-BodyArmour {
	grid-area: BodyArmour;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Amulet {
	grid-area: Amulet;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Ring {
	grid-area: Ring;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Ring2 {
	grid-area: Ring2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Belt {
	grid-area: Belt;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* -${item.inventoryId}-${item.x} */
.character-inventory-Flask0 {
	grid-area: Flask0;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Flask1 {
	grid-area: Flask1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Flask2 {
	grid-area: Flask2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Flask3 {
	grid-area: Flask3;
    display: grid;
    justify-items: center;
    align-items: center;
}

.character-inventory-Flask4 {
	grid-area: Flask4;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* -${item.frameType} */
.item-background-0 {
	background-color: var(--poe-ninja-color-normal);
	border-radius: .125rem;
}
.item-background-1 {
	background-color: var(--poe-ninja-color-magic);
	border-radius: .125rem;
}
.item-background-2 {
	background-color: var(--poe-ninja-color-rare);
	border-radius: .125rem;
}
.item-background-3 {
	background-color: var(--poe-ninja-color-unique);
	border-radius: .125rem;
}
/* ************************************************************************* */
/* stash */
/* ************************************************************************* */
/* 'stash-tab-header' + stashTab.type */
.stash-tab-header {
	color: white;
	border: 1px solid black;
	min-height: 50px;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px;
}
.stash-tab-header-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.stash-tab-header-NormalStash::before,
.stash-tab-header-PremiumStash::before,
.stash-tab-header-QuadStash::before,
.stash-tab-header-CurrencyStash::before,
.stash-tab-header-MapStash::before,
.stash-tab-header-FragmentStash::before,
.stash-tab-header-DivinationCardStash::before,
.stash-tab-header-EssenceStash::before,
.stash-tab-header-DelveStash::before,
.stash-tab-header-MetamorphStash::before,
.stash-tab-header-BlightStash::before,
.stash-tab-header-DeliriumStash::before,
.stash-tab-header-GemStash::before,
.stash-tab-header-FlaskStash::before  {
	display: inline-block;
	width: 28px;
	height: 28px;
}

.stash-tab-header-NormalStash::before {
    content: "";
}
.stash-tab-header-PremiumStash::before {
/* 	content: url('https://web.poecdn.com/protected/image/layout/stash/premium-tab-icon.png?v=1674770173658&key=eFcoMl6FRQpBrNgSIvNgYQ'); */
	content: url('/image/stash/premium-tab-icon.png?v=1674770173658&key=eFcoMl6FRQpBrNgSIvNgYQ');
}
.stash-tab-header-QuadStash::before {
	content: url('/image/stash/quad-tab-icon.png?v=1674770173658&key=SO7Jf8d6g68rhHKJVt1Itw');
}
.stash-tab-header-CurrencyStash::before {
	content: url('/image/stash/currency-tab-icon.png?v=1674770173394&key=c4JmwvlEdlm1iitgRJ-LtQ');
}
.stash-tab-header-MapStash::before {
	content: url('/image/stash/map-tab-icon.png?v=1674770173590&key=jLp8L5BgKpzzyf8Jdu51Zg');
}
.stash-tab-header-FragmentStash::before {
	content: url('/image/stash/fragment-tab-icon.png?v=1674770173510&key=NIXjytgKBeGX-0ed5uJWeA');
}
.stash-tab-header-DivinationCardStash::before {
	content: url('/image/stash/divination-tab-icon.png?v=1674770173430&key=FaLsxYtmuqBXkJebdF62_w');
}
.stash-tab-header-EssenceStash::before {
	content: url('/image/stash/essence-tab-icon.png?v=1674770173430&key=3sC1L24_-V0QEze0P8r_Dg');
}
.stash-tab-header-DelveStash::before {
	content: url('/image/stash/delve-tab-icon.png?v=1674770173430&key=1eC3WO6hAEtNVN7wtLT6jA');
}
.stash-tab-header-MetamorphStash::before {
	content: url('/image/stash/metamorph-tab-icon.png?v=1674770173658&key=9fUlHmwXXM7dKdwFt_RvnQ');
}
.stash-tab-header-BlightStash::before {
	content: url('/image/stash/blight-tab-icon.png?v=1674770173382&key=PL1k11by4nAQDMPTAnPZdA');
}
.stash-tab-header-DeliriumStash::before {
	content: url('/image/stash/delirium-tab-icon.png?v=1674770173410&key=sIX1JMexEbOTIezUWYJqvg');
}
.stash-tab-header-GemStash::before {
	content: url('/image/stash/gem-tab-icon.png?v=1674770173570&key=KE0pPt-_F4uZcdNWL6ff4Q');
}
.stash-tab-header-FlaskStash::before {
	content: url('/image/stash/flask-tab-icon.png?v=1674770173494&key=-UDcfP_cV6F7uvzOxyD3rw');
}

.stash-item-icon {
	max-width: none !important;
}
/* ************************************************************************* */