<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Character list</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div class="flex-row">
			<h3>Character list</h3>
			<form action="#" th:action="|/characters|" th:method="GET">
				<button>Reload page</button>
			</form>
		</div>

		<button hx-ext="loading-states" data-loading-aria-busy hx-trigger="click"
			hx-post="/characters" hx-target="#character-list" hx-swap="innerHTML">Reload
			characters from GGG (HTMX)</button>

		<div id="character-list" hx-trigger="load" hx-get="/characters"
			hx-swap="innerHTML"></div>
	</section>
</body>
</html>