<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Character details</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">

		<details>
			<summary>Details</summary>
			<table role="grid">
				<tbody>
					<tr>
						<th th:text="name"></th>
						<td th:text="${character.name}"></td>
					</tr>
					<tr>
						<th th:text="accountName"></th>
						<td th:text="${character.accountName}"></td>
					</tr>
					<tr>
						<th th:text="leagueId"></th>
						<td th:text="${character.leagueId}"></td>
					</tr>
					<tr>
						<th th:text="classId"></th>
						<td th:text="${character.classId}"></td>
					</tr>
					<tr>
						<th th:text="ascendancyClass"></th>
						<td th:text="${character.ascendancyClass}"></td>
					</tr>
					<tr>
						<th th:text="characterClass"></th>
						<td th:text="${character.characterClass}"></td>
					</tr>
					<tr>
						<th th:text="level"></th>
						<td th:text="${character.level}"></td>
					</tr>
					<tr>
						<th th:text="experience"></th>
						<td th:text="${character.experience}"></td>
					</tr>
				</tbody>
			</table>
		</details>

		<details open>
			<summary>Items</summary>

			<!-- load polling character items -->
			<div
				id="character-items"
				hx-trigger="load"
				th:attr="hx-get=|/characters/${character.name}/inventory/2d|"
				hx-swap="innerHTML"></div>
		</details>
	</section>
</body>
</html>