<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Character details</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div class="flex-row">
			<h3 th:text="${character.name}"></h3>
			<form action="#" th:action="|/characters/${character.name}|" th:method="GET">
				<button>Reload page</button>
			</form>
		</div>

		<details>
			<summary>Details</summary>
			<table role="grid">
				<tbody>
					<tr>
						<th th:text="name"></th>
						<td th:text="${character.name}"></td>
					</tr>
					<tr>
						<th th:text="accountName"></th>
						<td th:text="${character.accountName}"></td>
					</tr>
					<tr>
						<th th:text="leagueId"></th>
						<td th:text="${character.leagueId}"></td>
					</tr>
					<tr>
						<th th:text="classId"></th>
						<td th:text="${character.classId}"></td>
					</tr>
					<tr>
						<th th:text="ascendancyClass"></th>
						<td th:text="${character.ascendancyClass}"></td>
					</tr>
					<tr>
						<th th:text="characterClass"></th>
						<td th:text="${character.characterClass}"></td>
					</tr>
					<tr>
						<th th:text="level"></th>
						<td th:text="${character.level}"></td>
					</tr>
					<tr>
						<th th:text="experience"></th>
						<td th:text="${character.experience}"></td>
					</tr>
				</tbody>
			</table>
		</details>

		<details open>
			<summary>Items</summary>
			<button hx-ext="loading-states" data-loading-aria-busy hx-trigger="click"
				th:attr="hx-post=|/characters/${character.name}/items|"
				hx-target="#character-items" hx-swap="innerHTML">Reload items from
				GGG (HTMX)</button>

			<div id="character-items" hx-trigger="load"
				th:attr="hx-get=|/items/characters/${character.name}|" hx-swap="innerHTML"></div>
		</details>
	</section>
</body>
</html>