<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>POE Spring</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<article class="grid-columns">
			<div>
				<hgroup>
					<h1>Welcome</h1>
					<h2>(Placeholder)</h2>
				</hgroup>

				<div>
					<form
						th:action="@{/}"
						th:object="${initForm}"
						th:method="POST">
						<input
							type="text"
							th:field="*{accountName}"
							id="accountName"
							placeholder="Account name..." />
						<input
							type="text"
							th:field="*{poeSessionId}"
							id="poeSessionId"
							placeholder="POE session id..." />
						<button type="submit">Start</button>
					</form>
				</div>
			</div>

			<div class="path-of-exile-logo"></div>
		</article>
	</section>
</body>
</html>