<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Ladder</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">

		<form
			action="#"
			th:action="@{/ladders}"
			th:method="POST"
			th:object="${ladderForm}">

			<fieldset>
				<div class="flex-row">
					<div style="width: 100%;">
						<label for="league-id">League</label>
						<select
							id="league-id"
							th:field="*{leagueId}">
							<option
								th:each="league: ${leagues}"
								th:value="${league.id}"
								th:text="${league.id}"></option>
						</select>
					</div>

					<div style="width: 100%;">
						<label for="min-rank">Min rank</label>
						<input
							id="min-rank"
							type="number"
							th:field="*{minRank}" />
					</div>
					<div style="width: 100%;">
						<label for="max-rank">Max rank</label>
						<input
							id="max-rank"
							type="number"
							th:field="*{maxRank}" />
					</div>
				</div>

				<div class="flex-row"></div>

				<div class="flex-row">
					<div style="width: 100%;">
						<label for="character-name">Character name</label>
						<input
							id="character-name"
							th:field="*{characterName}" />
					</div>
					<div style="width: 100%;">
						<label for="account-name">Account name</label>
						<input
							id="account-name"
							th:field="*{accountName}" />
					</div>

					<div style="width: 100%;">
						<label for="min-level">Min level</label>
						<input
							id="min-level"
							type="number"
							th:field="*{minLevel}" />
					</div>
					<div style="width: 100%;">
						<label for="max-level">Max level</label>
						<input
							id="max-level"
							type="number"
							th:field="*{maxLevel}" />
					</div>
				</div>

			</fieldset>

			<button type=submit>Load</button>

			<table>
				<thead>
					<tr>
						<th>rank</th>
						<th>leagueId</th>
						<th>account</th>
						<th>character</th>
						<th>level</th>
						<th>class</th>
						<th>isPublic</th>
						<th>lastUpdateAt</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ladderEntry: ${ladderPage.ladderEntries}">
						<td th:text="${ladderEntry.rank}"></td>
						<td th:text="${ladderEntry.leagueId}"></td>
						<td>
							<a
								th:text="${ladderEntry.character.accountName}"
								th:href="|https://www.pathofexile.com/account/view-profile/${ladderEntry.character.accountName}/characters?characterName=${ladderEntry.character.name}|"
								target="_blank"></a>
						</td>
						<td>
							<a
								th:if="${ladderEntry.isPublic}"
								th:text="${ladderEntry.character.name}"
								th:href="|/characters/${ladderEntry.character.name}|"
								target="_blank"></a>
							<span
								th:unless="${ladderEntry.isPublic}"
								th:text="${ladderEntry.character.name}"></span>
						</td>
						<td th:text="${ladderEntry.character.level}"></td>
						<td th:text="${ladderEntry.character.characterClass}"></td>
						<td th:text="${ladderEntry.isPublic}"></td>
						<td th:text="${ladderEntry.lastUpdateAt}"></td>
					</tr>
				</tbody>
			</table>

		</form>

	</section>
</body>
</html>