<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
<!-- Bootstrap CSS -->
<!-- Pico.css -->
<link th:rel="stylesheet"
	th:href="@{/webjars/picocss__pico/css/pico.min.css}" />
<!-- HTMX -->
<script type="text/javascript"
	th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/htmx.org/dist/ext/loading-states.js}" defer></script>
<!-- App custom CSS -->
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body class="container">
	<nav th:replace="fragments/nav :: nav">Nav content.</nav>

	<!-- /* Disabled for now */ -->
	<!-- 	<header th:replace="fragments/header :: header">Header -->
	<!-- 		content.</header> -->

	<main>
		<details>
			<summary>Session attributes</summary>
			<table role="grid">
				<tbody>
					<tr>
						<th th:text="accountName" scope="row"></th>
						<td th:text="${session.accountName}"></td>
					</tr>
					<tr>
						<th th:text="poeSessionId" scope="row"></th>
						<td th:text="${session.poeSessionId}"></td>
					</tr>
					<tr>
						<th th:text="leagueId" scope="row"></th>
						<td th:text="${session.leagueId}"></td>
					</tr>
				</tbody>
			</table>
		</details>

		<section layout:fragment="content">
			<p>Page content.</p>
		</section>
	</main>

	<footer th:replace="fragments/footer :: footer">Footer
		content.</footer>
</body>
</html>