<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>League list</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div style="display: flex; align-items: center; gap: 10px;">
			<h3>League list</h3>
			<form action="#" th:action="@{'/leagues'}" th:method="GET">
				<button>Refresh page</button>
			</form>
			<form action="#" th:action="@{'/leagues'}" th:method="POST">
				<button>Reload data from GGG</button>
			</form>
		</div>

		<table role="grid">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">url</th>
					<th scope="col">realm</th>
					<th scope="col">startAt</th>
					<th scope="col">endAt</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="league: ${leagues}">
					<td th:text="${league.id}"></td>
					<td><a th:href="@{${league.url}}" th:target="_blank">url</a></td>
					<td th:text="${league.realm}"></td>
					<td th:text="${league.startAt}"></td>
					<td th:text="${league.endAt}"></td>
					<td><a th:href="@{'/leagues/' + ${league.id}}">details</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>