<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>League list</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div class="flex-row-space-between">
			<h3>League list</h3>
			<form
				action="#"
				th:action="@{/leagues}"
				th:method="GET">
				<button>Reload page</button>
			</form>
		</div>

		<button
			hx-ext="loading-states"
			data-loading-aria-busy
			hx-trigger="click"
			hx-post="/leagues"
			hx-target="#league-list"
			hx-swap="innerHTML">Reload leagues from GGG (HTMX)</button>

		<!-- load polling leagues -->
		<div
			id="league-list"
			hx-trigger="load"
			hx-get="/leagues"
			hx-swap="innerHTML"></div>
	</section>
</body>
</html>