<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>League list</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div class="flex-row">
			<h3>League list</h3>
			<form action="#" th:action="|/leagues|" th:method="GET">
				<button>Refresh page</button>
			</form>
		</div>

		<div class="flex-row">
			<button hx-trigger="click" hx-get="/leagues" hx-target="#league-list"
				hx-swap="innerHTML">Load leagues (HTMX)</button>
			<button hx-ext="loading-states" data-loading-aria-busy hx-trigger="click" hx-post="/leagues" hx-target="#league-list"
				hx-swap="innerHTML">Reload data from GGG (HTMX)</button>
		</div>
		<div id="league-list"></div>
	</section>
</body>
</html>