<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>League list</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<button
			class="outline"
			hx-ext="loading-states"
			data-loading-aria-busy
			hx-trigger="click"
			hx-post="/leagues/table"
			hx-target="#leagues-table"
			hx-swap="innerHTML">Reload leagues</button>

		<div th:replace="fragments/leagues-frags :: leagues-table"></div>
	</section>
</body>
</html>