<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Login</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<article class="grid-columns">
			<div>
				<hgroup>
					<h1>Log In</h1>
					<h2>(Placeholder)</h2>
				</hgroup>

				<div>
					<form
						hx-boost="true"
						hx-ext="loading-states"
						data-loading-aria-busy
						data-loading-target="#login-button"
						th:action="@{/login}"
						th:object="${loginForm}"
						th:method="POST">
						<fieldset>
							<input
								type="text"
								th:field="*{accountName}"
								id="accountName"
								placeholder="Account name..."
								required />
							<input
								type="password"
								th:field="*{poeSessionId}"
								id="poeSessionId"
								placeholder="POE session id..."
								required />
						</fieldset>

						<p th:if="${param.logout}">You have been logged out.</p>
						<p
							th:if="${param.error}"
							class="error-color">Invalid account.</p>
						<p
							th:if="${param.expired}"
							class="error-color">Your session has expired.</p>

						<button
							type="submit"
							id="login-button">Log in</button>
					</form>
				</div>
			</div>

			<div class="path-of-exile-logo"></div>
		</article>
	</section>
</body>
</html>