<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Stash tab list</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div class="flex-row-space-between">
			<h3>Stash tab list</h3>
			<form
				action="#"
				th:action="@{/stash-tabs}"
				th:method="GET">
				<button>Reload page</button>
			</form>
		</div>

		<div
			th:replace="fragments/league :: dropdown-menu(callUrlOnLeagueChange='/stash-tabs', targetElementToUpdate='#stash-tab-list')"></div>
		<button
			hx-ext="loading-states"
			data-loading-aria-busy
			hx-trigger="click"
			hx-post="/stash-tabs"
			hx-include="#dropdown-menu-select"
			hx-target="#stash-tab-list"
			hx-swap="innerHTML">Reload stash tabs from GGG (HTMX)</button>

		<!--  load polling stash tabs -->
		<div
			id="stash-tab-list"
			hx-trigger="load"
			hx-get="/stash-tabs"
			hx-swap="innerHTML"></div>
	</section>
</body>
</html>