<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Stash</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div
			th:replace="fragments/league :: dropdown-menu(callUrlOnLeagueChange='/stash-tabs/get-stash-tabs-list', targetElementToUpdate='#stash-tabs-list')"></div>

		<div
			style="display: flex; flex-direction: row; align-items: flex-start; gap: 10px;">

			<div th:replace="fragments/stash-frags :: stash-tabs-list"></div>

			<div th:replace="fragments/stash-frags :: stash-tab-items"></div>

		</div>

	</section>
</body>
</html>