<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Stash tab list</title>
</head>

<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<section layout:fragment="content">
		<div class="flex-row">
			<h3>Stash tab list</h3>
			<form action="#" th:action="@{'/stash-tabs'}" th:method="GET">
				<button>Refresh page</button>
			</form>
		</div>

		<div class="flex-row">
			<button hx-trigger="click" hx-get="/stash-tabs"
				hx-target="#stash-tab-list" hx-swap="innerHTML">Load stash
				tabs (HTMX)</button>
			<button hx-ext="loading-states" data-loading-aria-busy
				hx-trigger="click" hx-post="/stash-tabs" hx-target="#stash-tab-list"
				hx-swap="innerHTML">Reload data from GGG (HTMX)</button>
		</div>
		<div id="stash-tab-list"></div>
	</section>
</body>
</html>